html, body {
    position: relative;
    
  }

body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 120px 0 0 0;
    padding: 0;
    background-image: url("img/cloudBG.jpg");
    background-size: contain;
    
    
  }

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(255, 255, 255)
}

.navbar {
    /* font-family: Noto Sans; */
    /* background:rgba(4, 48, 143, 0.8); */
    /* background:rgba(59, 89, 124, 0.459); */
    background-color: #1660aab2;
    transition-duration:0.8s;
}

#navbar.active{
    background-color: #1660aa;
    transition-duration:0.8s;
}

.navbar-nav{
    font-size: 14px
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(3, 84, 189, 0.479)

}

.navbar-collapse{
      float: right;
    }

    .navbar-collapse{
        opacity: 1;
        /* font-family: Noto Sans; */
    }

   #logo.active{
      height: 50px;
      transition-duration:0.8s;
    }

    #logo{
      transition-duration:0.8s;
    }

    .gotop {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        padding: 1em;
      text-decoration: none;
        display: none;
        z-index: 3;
      
    }
    
    .gotop:hover {
        background-color: rgba(172, 7, 7, 0.7);
      text-decoration: none;
      color: white;
    }

    .footer_logo{
        height: 80px;
    }
    
        
     footer{
         /* background-color: #165faa; */
         background-color: white;
         height: 150px;
         padding: 20px 0 0 0
     }  
    
     .footer_r{
         height: 100%;
         width: 100%;
        
     }

     .clear{
        clear: both
    }