body {
    margin: 0;
    background-color: #CCCCFF;
    background-color: white;
    background-image: url('../img/BG-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#gotop{
    position:fixed;
    bottom:30px;
    right: 30px;
    padding: 10px;
    border-radius: 50%;
    color:#595147;
    font-size: 24px;
    z-index: 3;
    /* background-color: #595147; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity:0.7 ;
}

.logobox{

    width: 100px;
    margin: 0 auto;
    width: 356px;
}

.logo{
    height: 85px;
    margin:30px auto;
}

.swiper-container {
    width: 100%;
    /* height: 700px; */
    padding-top: 10px;
    padding-bottom: 100px;


}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 650px;
    font-family: Microsoft JhengHei;
    text-shadow: -0.5px -0.5px 0 rgb(87, 165, 168),
    0.5px -0.5px 0 rgb(87, 165, 168),
    -0.5px 0.5px 0 rgb(87, 165, 168),
    0.5px 0.5px 0 rgb(87, 165, 168),
    0.5px 0.5px 0.5px rgb(87, 165, 168);
    font-size: 24px;
    /* font-weight: bold */
    /* padding: 30px */

}

.swiper-pagination {
    margin-bottom: 40px
}

.teamcover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white
}

.teaminfo{
padding: 150px;
letter-spacing: 5px;
line-height: 48px
}

.teaminfo-5{
    text-shadow: -0.5px -0.5px 0 rgb(165, 93, 12),
    0.5px -0.5px 0 rgb(165, 93, 12),
    -0.5px 0.5px 0 rgb(165, 93, 12),
    0.5px 0.5px 0 rgb(165, 93, 12),
    0.5px 0.5px 0.5px rgb(165, 93, 12);
}

.team-bg-1{
    background-image: url('../img/team-bg-1.jpg');
}

.team-bg-2{
    background-image: url('../img/team-bg-2.jpg')
}

.team-bg-3{
    background-image: url('../img/team-bg-3.png')
}

.team-bg-4{
    background-image: url('../img/team-bg-4.jpg')
}

.team-bg-5{
    background-image: url('../img/team-bg-5.jpg')
}

.nav {
    /* background-color: #9F88FF; */
    /* background-color: white */
}

.menu {
    z-index: 2;
}

.all {
    width: 80%;
    /* height: 100vh; */
    margin-right: auto;
    margin-left: auto;
    /* background-color: #CCCCFF; */
    /* margin-bottom: 10px; */
}

.banner {
    height: 650px;
    /* background-color: gray; */
    /* margin-bottom: 10px; */
    background-image: url('https://pic.pimg.tw/itokeita/1474133015-3146189213_l.png?v=1474133023');
    /* background-image: url(https://i.ytimg.com/vi/AY9U759J5Xo/maxresdefault.jpg); */
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: 0 -70px;
    background-repeat: no-repeat;
}



.main {
    /* height: 610px; */
    /* background-color: #CCCCFF; */
    margin-bottom: 10px;
    margin-top: 50px
}

.box {
    width: calc((100% - 20px) / 3);
    /* width: 33%; */
    height: 400px;
    background-color: #9F88FF;
    float: left;
    margin-right: 10px;
    font-family: Microsoft JhengHei;
}

.box1 {
    margin-bottom: 10px;
}

.boxR {
    margin: 0;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.3);
    display: none;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 400px;
}

.box:hover .cover {
    display: block;
}

.main2 {
    height: 300px;
    /* background-color: #CCCCFF; */
    margin-bottom: 10px
}

.main2-R {
    width: calc(40% - 5px);
    height: 100%;
    background-color: #99BBFF;
    float: left;
    margin-right: 10px;
    background-image: url(https://pbs.twimg.com/media/CsPyXrGVYAAJK63.jpg);
    background-position: center;
    background-size: cover;
}

.main2-L {
    width: calc(60% - 5px);
    height: 100%;
    background-color: #99BBFF;
    float: right;
    background-image: url(https://aramajapan.com/wp-content/uploads/2017/02/aramajapan_aaa-cocoa.png);
    background-position: top;
    background-size: cover;
}

.clear {
    clear: both;
}

.footer {
    height: 50px;
    background-color: #333;
}

.pic1 {
    background-image: url(http://static-maquia.hpplus.jp/upload/image/manager/168/MSIkSWU-1200.jpg);
    background-size: cover;
}

.pic2 {
    background-image: url(http://www.aliveonlinestore.com/img_item/the-classics/the-classics-708-7.jpg);
    background-size: cover;
}

.pic3 {
    background-image: url(http://images.warchina.com/src/201609/439308c192.jpg);
    background-size: cover;

}

.pic4 {
    background-image: url(https://pbs.twimg.com/media/DCrJ1TUV0AEcGaP.jpg);
    background-size: cover;
    background-position: right;

}

.pic5 {
    background-image: url(https://www.vogue.co.jp/uploads/media/2016/11/08/AAAnissy.jpg);
    background-size: cover;
    background-position: center;

}

.pic6 {
    background-image: url(https://pbs.twimg.com/media/Bxk0oYfCYAABbyQ.jpg);
    background-size: cover;
    /* background-position: right; */
}


/* .info-1 {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 26px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* 團員介紹 */

.profile-box {
    width: 100%;
    height: 600px;
    /* background-color: #333; */
    margin-top: 100px;
    margin-bottom: 80px;

    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}

.profile-img {
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%
}

.profile-text {
    width: calc(70% - 60px);
    height: calc(100% - 60px);
    /* background-color: #99BBFF; */
    float: left;
    padding: 30px;
    padding-left: 80px;
    font-size: 24px;
    font-family: Microsoft JhengHei;
    letter-spacing: 3px;
    color: #595147;
    /* background-image: url(../img/BG8.jpg); */
    background-position: center;
    background-size: cover;
}

.border {
    border-bottom: 1px solid #333;
}

.img-1 {
    background-image: url(../img/浦田直也.jpg);
    transition-duration: 0.5s
}

.img-1:hover {
    background-image: url(../img/浦田直也-2.jpg);
    background-position: 70% 0;

}

.img-2 {
    background-image: url(../img/西島隆弘.jpg)
}

.img-2:hover {
    background-image: url(../img/西島隆弘-2.jpg);
    background-position: 40% 0;
}

.img-3 {
    background-image: url(../img/宇野實彩子.jpg)
}

.img-3:hover {
    background-image: url(../img/宇野實彩子-3.jpg);
    background-position: 50% 20%;
}

.img-4 {
    background-image: url(../img/日高光啓.jpg)
}

.img-4:hover {
    background-image: url(../img/日高光啓-2.jpg);
    background-position: -130px 0;

}

.img-5 {
    background-image: url(../img/伊藤千晃.jpg)
}

.img-5:hover {
    background-image: url(../img/伊藤千晃-2.jpg);

}

.img-6 {
    background-image: url(../img/末吉秀太.jpg)
}

.img-6:hover {
    background-image: url(../img/末吉秀太-2.jpg);
    background-position: 66% 0;

}

.img-7 {
    background-image: url(../img/與真司郎.jpg)
}

.img-7:hover {
    background-image: url(../img/與真司郎-2.jpg);
    background-position: 16% 0;

}


/* 影片區 */

.videobox {
    width: 100%;
    height: 675px;
    background-color: #222;
    margin-top: 100px;
    box-sizing: border-box;
    /* border: 50px solid #222; */
    padding: 50px;
    color: white;
    text-align: center;
    font-family: Microsoft JhengHei;
    letter-spacing: 3px;
    font-size: 34px;
    /* background-image: url(../img/BG2.jpg); */
    background-position: center;
    background-size: cover;
}

.video {
    width: calc(33% - 20px);
    background-color: green;
    height: 300px;
    margin-right: 20px;
    float: left;
    /* padding: 50px */
}

.swiper-container2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 51px;
    padding-left: 51px;
    box-sizing: border-box;
}

.swiper-slide2 {
    background-position: center;
    background-size: cover;
    width: 65%;
    height: 310px;
    font-family: Microsoft JhengHei;
}

.button-next2,
.button-prev2 {
    position: absolute;
    top: 30%;
}


.section2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Microsoft JhengHei;
}

.news {
    width: 100%;
    height: 500px;
    background-color: #333;
    background-image: url(../img/BG5.jpg);
    background-position: center;
    background-size: cover;
    color: white
}

.schedule {
    width: 100%;
    height: 500px;
    background-color: #666;
    background-image: url(../img/BG6.jpg);
    background-position: center;
    background-size: cover;
    color: whitesmoke
}

.date {
    width: 30%;
    height: 100%;
    float: left;
}

.date_info {
    width: 70%;
    height: 100%;
    float: left;
}

.toptittle {
    height: 50px;
    text-align: center;
    font-size: 34px;
    padding: 30px
}

.tittle {
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    float: left;
}

.info {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    float: left;
    /* background-color: rgba(223, 223, 223, 0.3); */
    background-color: rgba(46, 145, 202, 0.5)
}

.info-yellow {
    background-color: rgba(214, 105, 32, 0.3)
}

.tab_btn {
    /* display: inline-block; */
    padding: 20px 30px;
    width: 80%;
    height: 40px;
    /* float: left; */
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    animation-name: fade;
    /* animation-duration: 1s; */
    transition-duration: 0.1s;
}

.tab_btn:hover {
    background-color: rgba(46, 145, 202, 0.5)
}

.tab_btn-2:hover {
    background-color: rgba(214, 105, 32, 0.3)
}

.tab_content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: none;
    /* background-color: yellow */
    /* float: left; */
    transition-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    font-size: 24px;
    padding: 50px;
    letter-spacing: 3px
}

.tab_content.active {
    display: block;
}

.tab_btn.active {
    background-color: rgba(23, 133, 197, 0.5)
}

.tab_btn-2.active {
    background-color: rgba(172, 84, 26, 0.3)
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.clear {
    clear: both;
}

footer {
    height: 50px;
    background-color: #222
}

.deco {
    text-align: center;
    color: #696969
}