html, body{
	margin:0;
	padding: 0;
	height: 100%;
}
body{
	font-family: Arial, Microsoft JhengHei, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #555;
	background: url(../img/BG.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    color: #555;
    text-decoration: none;
    transition: 1s;
}
a:hover{
    color: #0098cf;
    transition: 1s;
}
p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
  }
  
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
}
.frame_area{
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 0 0;
    font-size: 0;
}
.frame_area h1{
    font-size: 1.5rem;
    margin: 0 15px;
}
.frame{
    width: calc((100% / 3) - 45px);
    margin: 30px 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    text-align: left;
    font-size: 0;
}
.frame:nth-child(odd){
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.frame .photo{
    width: 100%;
    height: 100%;
    padding-top: 60%;
    position: relative;
    background: #ddd;
    overflow: hidden;
}
.frame img{
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 1s;    
}
.frame a .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 1s;
}
.frame a .mask:hover{
    opacity: 1;
    transition: 1s;
}
.photo_name{
    padding: 10px 0;
    font-size: .9rem;
}
.photo_detail{
    font-size: .7rem;
    line-height: 1.2rem;
    color: #888;
}

/* btn_top */
.btn_top {
	position: fixed;
	right: 2%;
	z-index: 9998;
	bottom: 50%;
}

.btn_top a {
	width: 40px;
	height: 40px;
	display: block;
	color: #fff;
	border-radius: 50%;
}

/* .btn_top a:hover {
	background: rgb(16, 219, 255);
} */

#gototop {
	position: absolute;
	top: 5px;
	width: 40px;
	height: 40px;
	display: block;
	-webkit-animation: move_top 1.5s infinite;
	animation: move_top 1.5s infinite;
	text-align: center;
	background: url(../img/btn_top.png) 50% 50% no-repeat;
}

@-webkit-keyframes move_top {
	from {
		top: 5px;
		opacity: 0;
	}

	to {
		top: -5px;
	}
}

@keyframes move_top {
	from {
		top: 5px;
		opacity: 0;
	}

	to {
		top: -5px;
	}
}


@media (min-width: 1691px){
    .frame{
        width: calc((100% / 4) - 45px);
    }
}
@media (max-width: 1196px) {
    .frame_area{
        width: 90%;
    }
}
@media (max-width: 959px) {
    .frame{
        width: calc((100% / 2) - 45px);
    }
}
@media (max-width: 460px) {   
    .frame{
        width: calc(100% - 45px);
        margin: 20px 10px;
    }
}