		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		a{
			text-decoration: none;
			color: white;
		}
		.nav{
			height: 50px;
			background-color: #333;
		}

		.nav li:hover > a{
			color: #9955FF;
		}
		.menu{
			display: inline-block;
			float: right;
			margin-right: 30px;


		}

		.menu > li{
			display: inline-block;
			color: white;
			font-size: 20px;
			font-family: Microsoft JhengHei;
			/* padding: 13px; */

		}

		.menu > li > a{
			display: inline-block;
			font-size: 20px;
			padding: 12px;
		}

		.menu > li:hover{
			background-color: black;
		}

		.menu> .relative:hover .dropdown{
			background-color: black;
			/* display: block; */
			height: 118px;
			/* transition-duration: 2s; */
		}

		.relative{
			position: relative;
			transition-duration: 500ms;
		}

		.dropdown{
			position: absolute;
			width: 100%;
			height: 0;
			background-color: black;
			color: white;
			/* display: none; */
			text-align: center;
			border-radius: 4px;
			transition-duration: 500ms;
			overflow: hidden;

		}

		.dropdown>li{
			border-top: 1px solid white;

		}

		.dropdown > li > a{
			padding: 6px 6px;
			display: inline-block;
		}
		/* .menu:hover .dropdown{ */
			display: block;
		}